.flatpickrInput {
  color: white;
  font-weight: 600;
  background-color: rgb(63, 68, 88);
  height: 35px;
  width: 200px;
  padding-left: 20px;
}

.charts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}
